.form {

    font-family: var(--primary-font);
   
    p {

        color : var(--smuk-black);

        &.error {
            color: var(--smuk-pink);
            font-weight: 700;
        }

    }

    label {
        
        input {

            margin : 10px 0;
            color: var(--smuk-black);
            font-family: var(--primary-font);
            font-size: 16px;
            background-color: var(--smuk-white);
            border: 1px solid var(--smuk-dark-grey);
            padding: 15px 10px;
            display: block;
            width: 100%;

        }

        textarea {

            width: 100%;
            background-color: var(--smuk-white);
            font-family: var(--primary-font);
            font-size: 16px;
            padding: 15px 10px;
            color: var(--smuk-black);

        }

    }

    button {

        margin-top: 10px;
        background-color: var(--smuk-pink);
        color: var(--smuk-white);
        border : 0;
        padding: 15px 30px;
        border-radius: 20px;
        cursor: pointer;

        &:hover {

            filter: drop-shadow(0 0 5px var(--smuk-pink));

        }
    }
}

.response {

    background-color: var(--smuk-off-white);
    text-align: center;
    padding: 40px 0;
    
    img {

        border: 8px var(--smuk-pink) solid;
        border-radius: 50%;

    }

    h2 {

        margin: 0 0;

    }

    .name {

        margin: 0;
        color : var(--smuk-pink);
        font-size: 22px;

    }

    a {

        margin-top: 15px;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        display: inline-block;
        background-color: var(--smuk-pink);
        color : var(--smuk-white);
        padding: 15px 40px;
        border-radius: 30px;
        
    }
    
}